<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo List</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/styles.css">
   <script src="/assets/todo-list.js"></script>
</head>
<body>
  <h1>My Todo List</h1>
<div id="todo-table">
  <form class="" action="/todo" method="post">
    <input id="projectName" type="text" name="projectName" placeholder="Add new project name">
    <input id="titleHead" type="text" name="titleHead" placeholder="Add head title">
    <input id="titleBody" type="text" name="titleBody" placeholder="Add body title">
    <input id="titleBody2" type="text" name="titleBody2" placeholder="Body title 2nd part if so">
    <input id="productLink" type="text" name="productLink" placeholder="Add product link">
    <input id="category" type="text" name="category" placeholder="Add category">
    <input id="zoom1" type="text" name="zoom1" placeholder="Add 1st photo">
    <input id="zoom2" type="text" name="zoom2" placeholder="Add 2nd photo">
    <input id="zoom3" type="text" name="zoom3" placeholder="Add 3rd photo">
    <input id="zoom4" type="text" name="zoom4" placeholder="Add 4th photo">
    <input id="description" type="text" name="description" placeholder="Add description">
    <input id="msrpPrice" type="text" name="msrpPrice" placeholder="Add MSRP Price">
    <input id="yourPrice" type="text" name="yourPrice" placeholder="Add Your Price">
    <input id="discount" type="text" name="discount" placeholder="Add discount percentage">
    <input id="buttonSrc" type="text" name="buttonSrc" placeholder="Add buttonSrc">
    <input id="useCode" type="text" name="useCode" placeholder="useCode">
    <div id="additionalInfoFields">
      <input class="additionalInfo" type="text" name="additionalInfo" placeholder="Additional info">
      <input class="additionalInfo" type="text" name="additionalInfo" placeholder="Additional info">
      <input class="additionalInfo" type="text" name="additionalInfo" placeholder="Additional info">
    </div>

    <button id="newAddInfoField" type="button" name="addField">Add field</button>
    <button type="submit" name="button">Add item</button>
  </form>
  <ul>
    <% for(var i=0; i < todos.length; i++){ %>
      <li>
        <h2><%= todos[i].projectName %></h2>
        <p><%= todos[i].brand %></p>
      </li>
    <% } %>
  </ul>
</div>
</body>
</html>
